
/* BASIC CSS */
a {
	font-weight: bold;
	text-decoration: none;
}

/* APP */
.app {

}

/*FLEX-GRID*/

.flex-grid{
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	font-size: 1em;
}

.col {
	flex: 1;
}

/* APP CUSTOMS */

.nightheader{
	list-style-type: none;
	background-color: #000000;
	color: #FFFFFF;
	align-content: center;
	padding: 5%;
}
.nightnavlink {
	display: inline;
	font-weight: bolder;
	font-size: 1.2em;
}
.nightnavlink:hover {
}

.nightcode{
	color: #0FA0CE;
	background-color:#333333;
	border: none;
}
.nightpre {
	border-radius: 10px;
	background-color:#333333;
}
.topspace{
	height: 15vh;
	width: 100vw;

}


.hamburger {
	display: none;
}
.side-bar {
	display: none;
}
.link-container {
	display: flex;
	height: 100vh;
	background: gold;
	flex-direction: column;
}


.searchbutton{
	height:50px;
	width:50px;
	align-content: center;
	background-color: black;

}

/* MOVIE-LIST AND CARDS */

.movie-card {
	margin: 15px;
	color: #FFFFFF;
	background-color: #000000;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 0px 0px 15px 0px;
}
.movie-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
	cursor: pointer;
}

.movie-poster {
	width: 100%;
	max-height: 65%;
	object-fit: cover;
}
.movie-text {
	align-content: end;
	width: 100%;
	height: 35%;;
	padding: 15px;
	text-align: left;
	background-color: #000000;
	border-radius: 0px 0px 15px 0px;
	margin-bottom: 0;
}
.movie-header {
	font-weight: bold;
	font-size: medium;
}
.movie-year{
	font-weight: lighter;
	font-size: small;
	margin: 0;
}
.bookbutton {
	color: #FFFFFF;
}

.bookbutton:hover{
	background-color: #1EAEDB;
}



/* MOBILE SPECIFICS */

@media screen and (max-width: 480px) {
	.flex-grid {
		display: block;
		flex-direction: column;

	}
	.col {
		flex: 2;
	}

	.nightheader {
		display: none;
	}

	.hamburger {
		display: block;
		position: fixed;
		left: 20px;
		top: 20px;
		cursor: pointer;
	}
	.side-bar {
		display: block;
		position: fixed;
		width: 250px;
		height: 100vh;
		z-index: 200;
  }
}
