
.nightheader{
	align-content: center;
	height: 15vh;
}
.nightnavlink {
	font-weight: bold;
	align-self: center;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

.nightcode{
	color: #0FA0CE;
	background-color:#333333;
	border: none;
}
.nightpre {
	border-radius: 10px;
	background-color:#333333;
}
.topspace{
	height: 15vh;
	width: 100vw;

}
.backdrop{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 1;
  z-index: 100;
}


.hamburger {
	display: none;
}
.side-bar {
	display: none;
}
.link-container {
	display: flex;
	height: 100vh;
	background: gold;
	flex-direction: column;
}


/* MOVIE-LIST AND CARDS */
.movie-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
}

.movie-card {
	display: flex;
	flex-direction: column;
	width: 20vw;
	height: 60vh;
	justify-content: center;
	margin: 15px;
	color: #FFFFFF;
	background-color: #000000;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 0px 0px 15px 0px;
}
.movie-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
	cursor: pointer;
}

.movie-poster {
	width: 100%;
	max-height: 65%;
	object-fit: cover;
}
.movie-text {
	align-content: end;
	width: 100%;
	height: 35%;;
	padding: 15px;
	text-align: left;
	background-color: #000000;
	border-radius: 0px 0px 15px 0px;
}
.movie-header {
	float: bottom;
	font-weight: bold;
	font-size: medium;
	text-wrap: none;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bookbutton {
	color: #FFFFFF;
}

.bookbutton:hover{
	background-color: #1EAEDB;
}



/* MOBILE SPECIFICS */
@media screen and (max-width: 700px) {
	.nightheader {
		display: none;
	}
	.hamburger {
		display: block;
		position: fixed;
		left: 20px;
		top: 20px;
		cursor: pointer;
	}
	.side-bar {
		display: block;
		position: fixed;
		width: 250px;
		height: 100vh;
		z-index: 200;
  }
	.movie-card{
		width: 80vw;
		max-height: 80vh;
	}

}
