
/* BASIC CSS */

* {
	box-sizing: border-box;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

/* APP */
#app {
	padding-top: 10%;
    width: 100vw;
	justify-content: center;
}
#topspacer{
	height: 15vh;
	width: 100vw;
}
/*FLEX-GRID*/

.flex-grid{
	display: flex;
	flex-flow: column wrap;
}

.pagination {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.col {
	flex: 1;
}

/* APP CUSTOMS */
.navbar {
	display: none;
}

.nightcode {
	color: #0fa0ce;
	background-color: #333333;
	border: none;
}
.nightpre {
	border-radius: 10px;
	background-color:#333333;
}

.header {
	height: 56px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.hamburger {
	display: block;
	position: fixed;
	left: 25px;
	top: 25px;
}

.side-bar {
	display: block;
	position: fixed;
	width: 75vw;
	height: 100vh;
	z-index: 200;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #000000;
	color: #FFFFFF;
}

.link-container {
	display: flex;
	height: 100%;
	flex-direction: column;
	color: #222222;
	font-weight: bolder;
	padding: 10%;
}
#sidebarWrapper{
	width: 100%;
	height: 100vh;
	background-color: rgba(0 0 0 0);
}

#searchField{
	width: 80vw;
	justify-self: center;
	margin-bottom: 10vh;

}
.searchbutton{

}
.searchnoresults{
	color: red;
	font-style: italic;
}

/* MOVIE-LIST AND CARDS */

.movie-card {
	width: 100%;
	max-height: 80vh;
	padding-bottom: 10px;
	color: #FFFFFF;
	background-color: #000000;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.movie-poster {
	width: 100%;
	max-height: 60%;
	object-fit: cover;
	margin-bottom: 10px;
}
.movie-text {
	height: 35%;;
	background-color: #000000;
	border-radius: 0px 0px 15px 0px;
}
.movie-header {
	font-weight: bolder;
	font-size: small;
	padding: 10px;
}
.movie-year{
	font-weight: lighter;
	font-size: small;
	margin: 0;
}

/* FLEX GRID */

.flex-grid {
	display: flex;
	flex-direction: column;
}

.col {
	flex: 1;
}

/*    MOVIE DETAILS   */
.movieDetails {
	background-color: #000000;
	color: #FFFFFF;
	width: 100%;
	min-height: 100vh;
}

.moviedetails-card {
	background-color: #000000;
	color: #FFFFFF;
	padding: 20px;
	margin: 0;
}

.moviedetails-header {
	font-size: 1.8em;
}

.moviedetails-poster {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 50vh;
}

.moviedetails-list {
	list-style: none;
	font-weight: lighter;
}

.moviedetails-plotheader {
	font-weight: bolder;
	margin-bottom: 0;
}

.movie-event{
	padding: 15%;
	min-height: 100vh;
	background: #333333;
}

.movie-event-form {

}
.movie-event-form input{
    color: #000000;
}

.floatbutton {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #1EAEDB;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999
}



.plusbutton {
margin-top: 22px;
}


/* DESKTOP SPECIFICS */

@media screen and (min-width: 481px) {
    #app {
		justify-content: center;
		align-self: center;
		width: 100vw;

    }
	.flex-grid{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 100%;
		justify-content: space-evenly;
		justify-self: center;
	}

	.col {
		flex: 1;
	}

	.navbar {
		display: block;
		list-style-type: none;
		background-color: #FFFFFF;
		color: #000000;
		justify-content: center;
		display: flex;
		flex-direction: row;

	}
	.nightnavlink {
		display: inline;
		font-weight: bolder;
		font-size: 1.5em;
		padding-left: 20px;
		padding-right: 20px;
	}

    .pagination {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2rem;
    }

    .pagination > h6 {
        margin-left: 5px;
        margin-right: 5px;
    }

    .header {
		display: block;
	}
	.hamburger {
		display: none;
	}

	.side-bar {
		display: none;
	}

	.movie-list {
		max-width: 100%;
		padding-left: 10%;
		padding-right: 10%;
		margin-top: 15vh;
	}

	.movie-card {
		width: 15vw;
		height: 25vw;
		margin-left: 15px;
		margin-bottom: 15px;
	}
	.movie-card:hover {
		cursor: pointer;
		box-shadow: 8px 16px #222222;
	}
	.movie-poster {
		width: 100%;
		height: 60%;
		max-width: 10vw;
		max-height: 20vw;
		object-fit: cover;
		margin-bottom: 10px;
	}

	.moviedetails-poster {
		object-fit: cover;
		object-position: center;
		margin: 0;
	}
	.floatbutton:hover{
		cursor: pointer;
		color: yellow;
	}
}
